
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="wrapper">

    <div class="w1">


        <main id="mt-main">
            <section class="mt-contact-banner mt-banner-22" style="background-image: url(/assets/images/img-76.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center">QUÊN MẬT KHẨU</h1>
                            <!-- Breadcrumbs of the Page -->
                            <nav class="breadcrumbs">
                                <ul class="list-unstyled">
                                    <li><a href="#">Trang chủ <i class="fa fa-angle-right"></i></a></li>
                                    <li>Quên mật khẩu</li>
                                </ul>
                            </nav>
                            <!-- Breadcrumbs of the Page end -->
                        </div>
                    </div>
                </div>
            </section>
            <div class="mt-padding-info" style="margin:30px 15%">
                <div class="container">
                    <h1>Mật khẩu mới của bạn đã được gửi qua email đăng ký, vui lòng kiểm tra! <i class="fa fa-check"></i></h1>
                </div>
                <a href="/" class="btn-type" style="margin:5%">Quay lại trang chủ</a>
            </div>

        </main>

    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>

