
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center; margin-top:10%; color:palevioletred"><strong>TBC - THỜI BAO CẤP - TECH BLIND CLUB</strong></h1>
<h2 style="margin: 5% 20% 10% 20%">TBC viết tắt của Tech Blind Club, hội quy tụ những con người dù thế giới đang chuẩn bị bước sang thời đại 5.0 nhưng họ vẫn đang sống trong hoài niệm Thời Bao Cấp ( mà thật ra đã sống trong thời đó bao giờ đâu?!*#$?&? ) nên bị mù công nghệ. Hội này được thành lập để giúp đỡ nhau vượt qua đợt thực tập chông gai nhìn đâu cũng thấy tech(tạch) tech(tạch) tech(tạch).</h2>

